html, body {
  background: rosybrown;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  padding: 1vw;
  width: 30%;
  background: white;
}
#quote-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#text {
  text-align: center;
}
#author {
  text-align: right;
  width: 100%;
}

#button-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin: 1vw;
}
button {
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.5em;
  padding: 1vh;
}
#quoteItself {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s linear;
}
#quoteItself.hideBox {
  visibility: hidden;
  opacity: 0;
}
@media(orientation: portrait) {
  main {
    width: 80%;
  }
}

